/* Follow me on:
  https://dribbble.com/Curtis_A_Lee
*/

/* Check out my website:
  https://thatboycurt.com/
*/

/* MEDIA QUERY */
@media (max-width: 60em) {
  body {
      padding: 3rem;
  }

  .main {
      width: 100%; /* Set width to 100% for responsiveness */
  }

  /* Add any other responsive styles for .main here */
}
  
  /* VARIABLES */
  :root {
    --color-header: #0d0d0d;
    --color-text: #404040;
    --color-btn-text: #3363ff;
    --color-btn-background: #e6ecff;
    --transition: 0.2s;
  }
  
  /* RESET */
  *,
  *::before,
  *::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
  }
  
  /* GLOBAL */
  html {
    box-sizing: border-box;
    font-size: 62.5%; /* 10px/16px */
  }
  
  body {
    display: flex;
    justify-content: center;
    align-content: center;
    padding: 6rem;
    background: url("https://i.postimg.cc/G2Cf0PD6/3363857.jpg");
    /* background: url("https://i.postimg.cc/VvfZ0mWD/307827.jpg"); */
    /* background: #000036; */
    /* background-image: linear-gradient(to right, #00dbde 0%, #fc00ff 100%); */
    /* background-size: cover; */
    /* background-position: center; */
    font-family: "Inter", sans-serif;
  }

  
  /* MAIN CONTENT */
  .grid {
    display: grid;
    width: 114rem;
    grid-row-gap: 3rem;
    grid-column-gap: 3rem;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    margin: 0 auto; /* Center the grid horizontally */
    /* margin-top: 100px; */
  }
  
  .grid .card {
    display: flex;
    flex-direction: column;
    background-color: #fff;
    border-radius: 0.4rem;
    overflow: hidden;
    box-shadow: 0 3rem 6rem rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: var(--transition);
    height: 100%;
  }
  
  .grid .card:hover {
    transform: translateY(-0.5%);
    box-shadow: 0 4rem 8rem rgba(0, 0, 0, 0.2);
  }
  
  .grid .card__img {
    display: block;
    width: 100%;
    height: 20rem;
    object-fit: cover;
  }
  
  .grid .card__content {
    display: grid;
    grid-template-rows: auto 1fr auto;
    grid-row-gap: 1rem;
    padding: 2rem;
    height: 100%;
  }
  
  .grid .card__header {
    font-size: 3rem;
    font-weight: 500;
    color: var(--color-header);
    align-items: center;
  }
  
  .grid .card__text {
    font-size: 1.5rem;
    letter-spacing: 0.1rem;
    line-height: 1.7;
    color: darken(var(--color-text), 1%);
    margin-bottom: 1rem;
  }
  
  .grid .card__btn {
    display: block;
    width: 100%;
    padding: 1.5rem;
    font-size: 2rem;
    text-align: center;
    color: var(--color-btn-text);
    background-color: var(--color-btn-background);
    border: none;
    border-radius: 0.4rem;
    transition: var(--transition);
    cursor: pointer;
    height: 100%;
  }
  
  .grid .card__btn span {
    margin-left: 1rem;
    transition: var(--transition);
  }
  
  .grid .card__btn:hover,
  .grid .card__btn:active {
    background-color: darken(var(--color-btn-background), 2%);
  }
  
  .grid .card__btn:hover span {
    margin-left: 1.5rem;
  }


  h1 {
    position: relative;
    padding: 0;
    margin: 0;
    font-family: "Raleway", sans-serif;
    font-weight: 300;
    font-size: 40px;
    color: #080808;
    -webkit-transition: all 0.4s ease 0s;
    -o-transition: all 0.4s ease 0s;
    transition: all 0.4s ease 0s;
  }
  
  h1 span {
    display: block;
    font-size: 0.5em;
    line-height: 1.3;
  }
  h1 em {
    font-style: normal;
    font-weight: 600;
  }
  
  .two h1 {
    text-transform: capitalize;
  }
  .two h1:before {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 60px;
    height: 2px;
    content: "";
    background-color: #c50000;
  }
  
  .two h1 span {
    font-size: 13px;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 4px;
    line-height: 3em;
    padding-left: 0.25em;
    color: rgba(0, 0, 0, 0.4);
    padding-bottom: 10px;
  }
  .two .alt-two{
    margin-top: 100px;
  }
  
  .alt-two h1 {
    text-align:center;
  }
  .alt-two h1:before {
    left:50%; margin-left:-30px;
  }

  *,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
/* body {
  background: #eee;
} */
.alt-two {
  position: relative;
  background: #f8f8f8;
  width: 90%;
  max-width: 500px;
  padding: 2em;
  margin: 3em auto;
  margin-top: 100px;
  border: 3px solid rgba(0, 0, 0, 0.08);
}

h1:before,
h1:after {
  background-color: #c50000;
}

/* Converted SCSS to CSS */

/* Variables */
:root {
  --color-primary: #f857a8;
  --color-secondary: #ff5858;
  --color-neutral-lt: #fff;
  --color-neutral-med: #ddd;
  --color-neutral-dk: #444;
  --a-tags: "a, a:active, a:hover, a:visited";
  --a-tags-no-hov: "a:link, a:visited, a:active";
  --headings-font: "Saira Semi Condensed", sans-serif;
  --shadow: 0px 3px 10px rgba(0, 0, 0, 0.1);
}

/* Mixins */
@keyframes logo-hover {
  20% {
    padding-right: 0em;
  }
  100% {
    padding-right: 5em;
  }
}

/* Reset */
button {
  background: none;
  box-shadow: none;
  border: none;
  cursor: pointer;
}

button:focus,
input:focus {
  outline: 0;
}

html {
  scroll-behavior: smooth;
}

/* Layout */
body {
  line-height: 2em;
  padding: 0;
  margin: 0;
}

section {
  height: 100vh;
}

#home {
  background-color: #ddd;
}

#about {
  background-color: #aaa;
}

#work {
  background-color: #888;
}

#contact {
  background-color: #666;
}

/* Helpers */
.skew {
  transform: skew(-20deg);
}

.un-skew {
  transform: skew(20deg);
}

/* Nav */
#nav-wrapper {
  overflow: hidden;
  width: 100%;
  margin: 0 auto;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
}

#nav {
  background-color: var(--color-neutral-lt);
  box-shadow: var(--shadow);
  display: flex;
  flex-direction: column;
  font-family: var(--headings-font);
  height: 6em;
  overflow: hidden;
}

#nav.nav-visible {
  height: 100%;
  overflow: auto;
}

.nav {
  display: flex;
  height: 6em;
  line-height: 6em;
  flex-grow: 1;
}

.nav-link,
.logo {
  padding: 0 1em;
}

span.gradient {
  background: var(--color-primary);
  background: -webkit-linear-gradient(45deg, var(--color-primary), var(--color-secondary));
  background: linear-gradient(45deg, var(--color-primary), var(--color-secondary));
  padding: 0 1em;
  position: relative;
  right: 1em;
  margin-right: auto;
}

span.gradient:hover {
  animation-name: logo-hover;
  animation-duration: 0.3s;
  animation-fill-mode: forwards;
  animation-timing-function: cubic-bezier(0.17, 0.57, 0.31, 0.85);
}

h1.logo {
  font-weight: 300;
  font-size: 1em;
  line-height: 0.75em;
  color: var(--color-neutral-lt);
}

h1.logo a, h1.logo a:link, h1.logo a:visited, h1.logo a:active {
  text-decoration: none;
  color: var(--color-neutral-lt);
}

.nav-link {
  text-transform: uppercase;
  text-align: center;
  border-top: 0.5px solid var(--color-neutral-med);
}

a, a:link, a:visited, a:active {
  text-decoration: none;
  color: var(--color-primary);
}

a:hover {
  text-decoration: underline;
}

.right {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.btn-nav {
  color: var(--color-primary);
  padding-left: 2em;
  padding-right: 2em;
}

@media (min-width: 800px) {
  #nav-wrapper {
    overflow: hidden;
  }

  #nav {
    overflow: hidden;
    flex-direction: row;
  }

  .nav-link {
    border-top: none;
  }

  .right {
    overflow: hidden;
    flex-direction: row;
    justify-content: flex-end;
    position: relative;
    left: 1.5em;
    height: auto;
  }

  .btn-nav {
    display: none;
  }

  a, a:link, a:visited, a:active {
    &.active {
      background: var(--color-primary);
      color: #fff;
    }
  }

  .nav-link-span {
    transform: skew(20deg);
    display: inline-block;
  }

  .nav-link {
    transform: skew(-20deg);
    color: #777;
    text-decoration: none;

    &:last-child {
      padding-right: 3em;
    }
  }

  a:hover.nav-link:not(.active) {
    color: var(--color-neutral-dk);
    background: var(--color-neutral-med);
    background: linear-gradient(45deg, var(--color-neutral-lt), #ddd);
  }
}
