<!DOCTYPE html>
<html lang="en-GB">
<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <meta name="description" content="An example pen showing how a basic CSS Grid container can create a nice, responsive card layout.">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="stylesheet" type="text/css" href="/static/css/club1.css">
  <title>CSS Grid Cards</title>

  <style>

/* .heading-container {
    display: flex;
      text-align: center;
      margin-bottom: 40px;
      justify-content: center;
    }

    .heading {
  
      font-family: 'Dancing Script', cursive;
      font-size: 50px;

    } */
  
  </style>
</head>
<body>
 
<div>  
    <div class="two alt-two">
            <h1 class="heading">Choose A Club
              <span>To Borrow The Inventory</span>
            </h1>
    </div>
<div class="grid">

  <div class="card">
    <img class="card__img" src="https://images.unsplash.com/photo-1485827404703-89b55fcc595e?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="Snowy Mountains">
    <div class="card__content">
      <h1 class="card__header">Robotics Society</h1>
      <div class="card__text-wrapper">
        <p class="card__text">Look up at the night sky, and find yourself <strong>immersed</strong> in the amazing mountain range of Aspen.</p>
      </div>
      <button class="card__btn">Explore <span>&rarr;</span></button>
    </div>
  </div>

  <div class="card">
    <img class="card__img" src="https://images.unsplash.com/photo-1511379938547-c1f69419868d?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="Desert">
    <div class="card__content">
      <h1 class="card__header">Misty mornings</h1>
      <div class="card__text-wrapper">
        <p class="card__text">Capture the stunning <strong>essence</strong> of the early morning sunrise in the Californian wilderness, and surround yourself in a world you never even knew existed.</p>
      </div>
      <button class="card__btn">Explore <span>&rarr;</span></button>
    </div>
  </div>

  <div class="card">
    <img class="card__img" src="https://images.unsplash.com/photo-1608178398319-48f814d0750c?q=80&w=1779&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="Canyons">
    <div class="card__content">
      <h1 class="card__header">Utah sunsets</h1>
      <div class="card__text-wrapper">
        <p class="card__text">Sunsets over the <strong>stunning</strong> Utah Canyonlands, are truly something much more than incredible.</p>
      </div>
      <button class="card__btn">Explore <span>&rarr;</span></button>
    </div>
  </div>

  <div class="card">
    <img class="card__img" src="https://images.unsplash.com/photo-1502209877429-d7c6df9eb3f9?q=80&w=2066&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="Canyons">
    <div class="card__content">
      <h1 class="card__header">Utah sunsets</h1>
      <div class="card__text-wrapper">
        <p class="card__text">Sunsets over the <strong>stunning</strong> Utah Canyonlands, are truly something much more than incredible.</p>
      </div>
      <button class="card__btn">Explore <span>&rarr;</span></button>
    </div>
  </div>

  <div class="card">
    <img class="card__img" src="https://images.unsplash.com/photo-1502982720700-bfff97f2ecac?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="Canyons">
    <div class="card__content">
      <h1 class="card__header">Utah sunsets</h1>
      <div class="card__text-wrapper">
        <p class="card__text">Sunsets over the <strong>stunning</strong> Utah Canyonlands, are truly something much more than incredible.</p>
      </div>
      <button class="card__btn">Explore <span>&rarr;</span></button>
    </div>
  </div>

  <div class="card">
    <img class="card__img" src="https://plus.unsplash.com/premium_photo-1673514503542-3953ca855a03?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="Canyons">
    <div class="card__content">
      <h1 class="card__header">Utah sunsets</h1>
      <div class="card__text-wrapper">
        <p class="card__text">Sunsets over the <strong>stunning</strong> Utah Canyonlands, are truly something much more than incredible.</p>
      </div>
      <button class="card__btn">Explore <span>&rarr;</span></button>
    </div>
  </div>
</div>
</div>


</body>
</html>
